@attribute [Authorize]
@page "/personCompetencies"
@inherits CompetencyFormBase

@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject IJSRuntime JSRuntime;
@using Blazored.Toast.Configuration
<style>
    .resume-section-content {
        color: #58677c;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .mb-2,
    .my-2 {
        margin-bottom: 0.5rem !important;
    }

    .resume-degree {
        color: #229383;
    }

    .resume-degree-org {
        font-size: 0.875rem;
    }

    .resume-degree-time {
        color: #aab4c3;
        font-size: 0.875rem;
    }

    i {
        margin-right: 15px;
    }
</style>
<div class="card m-3">
    <div class="card-header" style="background-color:white">
        <div class="mdl-card__supporting-text">

            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">Personal Details</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Address</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Education</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>4</span></div>
                    <div class="mdl-stepper-title">Employment History</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>6</span></div>
                    <div class="mdl-stepper-title">Expertise</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>6</span></div>
                    <div class="mdl-stepper-title">Competencies</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>7</span></div>
                    <div class="mdl-stepper-title">Professinal Membership</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>8</span></div>
                    <div class="mdl-stepper-title">Skills</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">

        <label>
            What are your competencies? *
        </label>

        <br />
        <br />

        <div>
            <div class="card card-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label>Category</label>
                        <select class="form-control" @onchange="eventArgs => { CompetencyCategoryClicked(eventArgs.Value); }">
                            <option value="0"></option>
                            @if (competencyCategories != null)
                            {
                                @foreach (var competency in competencyCategories)
                                {
                                    <option value="@competency.Id">@competency.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col">
                        <label>Name</label>
                        <select class="form-control" @bind="competencyID">
                                 <option value="0"></option>
                            @if (competencies != null)
                            {
                                @foreach (var competency in competencies)
                                {
                                    <option value="@competency.Id">@competency.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button data-toggle="collapse" href="#collapseExample" @onclick="Cancel" class="btn btn-outline-success">Cancel</button>
                    <button @onclick="HandleValidSubmit" class="btn btn-outline-success mr-1">Save</button>
                </div>
            </div>
        </div>

        @if (userCompetencies.Count > 0)
        {
            <br />
            <br />

            @foreach (var userCompetency in userCompetencies)
            {

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="resume-degree font-weight-bold">
                            @userCompetency.Competency.Name
                        </div>
                        <div>
                            <a @onclick="@(()=>Delete(userCompetency.CompetencyId))" role="button"><i class="fas fa-trash float-right"></i></a>
                        </div>
                    </div>

                </div>
            }

        }

    </div>
    <div class="card-footer" style="background-color:white">
        <div>
            <button @onclick="@Back" class="btn btn-primary mr-1">Back</button>
            <button @onclick="@Next" class="btn btn-primary mr-1">Next</button>
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">

</BlazoredToasts>


