@attribute [Authorize]
@page "/employees"


@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject IJSRuntime JSRuntime;

<style data-name="Users">

    /* users */

    .users-root {
        padding: 24px;
    }

    .users-content {
        margin-top: 16px;
    }

    /* users-toolbar */

    .users-toolbar-row {
        height: 42px;
        display: flex;
        margin-top: 8px;
        align-items: center;
    }

    .users-toolbar-spacer {
        flex-grow: 1;
    }

    .users-toolbar-import-button {
        margin-right: 8px;
    }

    .users-toolbar-export-button {
        margin-right: 8px;
    }

    .users-toolbar-search-input {
        margin-right: 8px;
    }

    /* users-table */

    .users-table-content {
        padding: 0;
    }

    .users-table-inner {
        min-width: 1050px;
    }

    .users-table-name-container {
        display: flex;
        align-items: center;
    }

    .users-table-avatar {
        margin-right: 16px;
    }

    .users-table-actions {
        justify-content: flex-end;
    }
</style>

<div class="card m-3">
    <div class="card-header">
        <h3>Employees</h3>
    </div>
    <div class="card-body">

        <div class="form-row">
            <div class="form-group col">
                <input class="form-control" Placeholder="Employee Name" @bind-value="this.EmployeeName" />
            </div>
            <div class="form-group col">
                <select class="form-control" @onchange="eventArgs => { functionalClicked(eventArgs.Value); }">
                    <option value="0" selected>Functional Expertise...</option>
                    @if (functionalList != null)
                    {
                        @foreach (var functional in functionalList)
                        {
                            <option value="@functional.Id">@functional.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col">
                <select class="form-control" @onchange="eventArgs => { competencyClicked(eventArgs.Value); }">
                    <option value="0" selected>Competencies Catagories...</option>
                    @if (competencyList != null)
                    {
                        @foreach (var competency in competencyList)
                        {
                            <option value="@competency.Id">@competency.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col">
                <button type="submit" @onclick="Search" class="btn btn-primary mr-1 ">Search</button>
            </div>
        </div>

        @if (Employees == null)
        {
            <p><em>No data...</em></p>
        }
        else
        {
            <table class='table'>
                <thead>
                    <tr>
                        <th><input type="checkbox" checked="@this.SelectAll" @onchange="eventArgs => { empSelectAll(eventArgs.Value); }" /></th>
                        <th>Name</th>
                        <th>ID Number</th>
                        <th>EMail</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Employees)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" checked="@this.empCheckSelectStatus(emp.Id)" @onchange="eventArgs => { empSelect(emp.Id, eventArgs.Value); }" />
                            </td>
                            <td>@emp.FirstName @emp.MiddleName @emp.LastName</td>
                            <td>@emp.IdNumber</td>
                            <td>@emp.Email</td>
                            <td>@emp.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="card-footer " style="background-color:white">
        <div>
            @if (EmployeeCheckedList.Count() > 0)
            {

                <button type="submit" @onclick="DownloadCV" class="btn btn-primary mr-1 ">Download</button>
            }
        </div>
    </div>
</div>

@inherits EmployeeListBase

