@page "/profile"
@inherits ProfileBase

<h3>Profile</h3>


<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30">

                    @if (@Person.ImagePath != null)
                    {
                        <img src="images/@Person.ImagePath" class="img-circle"
                             width="150" />
                    }
                    else
                    {
                        <img src="images/profile.png" class="img-circle"
                             width="150" />
                    }
                    <h4 class="card-title m-t-10">@Person.FirstName @Person.LastName</h4>
                    <h6 class="card-subtitle">@Person.Nationality</h6>
                </center>
            </div>
            <div class="card-footer">
                <InputFile OnChange="HandleFileSelected"></InputFile>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tab panes -->
            <div class="card-body">
                <form class="form-horizontal form-material">
                    <div class="form-group">
                        <label class="col-md-12">Full Name</label>
                        <div class="col-md-12">
                            <input type="text" placeholder="Mpho Nethathe"
                                   class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input type="email" placeholder="mphonethathe@gmail.com"
                                   class="form-control form-control-line" name="example-email"
                                   id="example-email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Password</label>
                        <div class="col-md-12">
                            <input type="password" value="password"
                                   class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Confirm Password</label>
                        <div class="col-md-12">
                            <input type="password" value="password"
                                   class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Phone No</label>
                        <div class="col-md-12">
                            <input type="text" placeholder="072 1880 910"
                                   class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Select Country</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line">
                                <option>South Africa</option>
                                <option>India</option>
                                <option>Usa</option>
                                <option>Canada</option>
                                <option>Thailand</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

@*@if (file != null)
{
    <p>Name: @file.Name</p>
    <p>Name: @file.Size</p>
    <p>Name: @file.Type</p>
}*@
