@page "/profile"
@inherits ProfileBase
@using Blazored.Toast.Configuration
<style>
    .img-fluid {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .img-fluid-small {
        max-width: 100%;
        height: 25px;
        border-radius: 50%;
    }

    .img-fluid-smaller {
        max-width: 100%;
        height: 20px;
        border-radius: 50%;
    }

    .img-fluid-smaller2 {
        max-width: 80%;
        height: 13px;
        border-radius: 50%;
    }

    .img-thumbnail {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 100%;
        height: auto
    }



    .resume-header {
        width: 170px;
        height: 170px
    }
</style>



<h3>Profile</h3>

@if (Searching == true)
        {

<div class="spinner"></div>
        }else{


<div class="row">
    @if (Person.Id > 0)
    {

    <div class="col-lg-4 col-xlg-3 col-md-5">

        <div class="card">
            <div class="card-body">
                <center class="m-t-30">

                    @if (@Person.ImagePath != null)
                        {

                    <img class="resume-header img-fluid picture" src="images/@Person.ImagePath" />
                        }
                        else
                        {
                    <img class="resume-header  img-fluid picture" src="images/profile.png" />
                        }
                    <h4 class="card-title m-t-10">@Person.FirstName @Person.LastName</h4>
                    <h6 class="card-subtitle">@Person.Nationality</h6>
                    <hr />
                    <h1 class="card-subtitle">My Profile</h1>
                    <p>@Person.Profile</p>
                </center>
            </div>
            <div class="card-footer" style="background-color:white">
                <InputFile OnChange="HandleFileSelected" class="btn btn-primary mr-1"></InputFile>
            </div>
        </div>



    </div>

    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tab panes -->
            <div class="card-body">
                <EditForm EditContext="@editContext">
                    <DataAnnotationsValidator />
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>First Name</label>
                            <InputText @bind-Value="Person.FirstName" class="form-control" />
                            <ValidationMessage For="@(() => Person.FirstName)" />
                        </div>

                        <div class="form-group col-6">
                            <label>Middle Name</label>
                            <InputText @bind-Value="Person.MiddleName" class="form-control" />
                            <ValidationMessage For="@(() => Person.MiddleName)" />
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Last Name</label>
                            <InputText @bind-Value="Person.LastName" class="form-control" />
                            <ValidationMessage For="@(() => Person.LastName)" />
                        </div>
                        <div class="form-group col-6">
                            <label>Nationality</label>
                            <InputSelect @bind-Value="Person.Nationality" class="form-control">
                                <option value=""></option>
                                <option value="Angola">Angola</option>
                                <option value="Asian Countries">Asian Countries</option>
                                <option value="Australia and New Zealand">Australia and New Zealand</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Central and South American Countries">Central and South American Countries</option>
                                <option value="European Countries">European Countries</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Namibia">Namibia</option>
                                <option value="North American Countries">North American Countries</option>
                                <option value="Rest of Africa">Rest of Africa</option>
                                <option value="SADC except SA">SADC except SA</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Tanzania">Tanzania</option>
                                <option value="Zaire">Zaire</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </InputSelect>
                            <ValidationMessage For="@(() => Person.Nationality)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Email</label>
                            <InputText @bind-Value="Person.Email" class="form-control" />
                            <ValidationMessage For="@(() => Person.Email)" />
                        </div>
                        <div class="form-group col-6">
                            <label>Contact Number</label>
                            <InputText @bind-Value="Person.Phone" class="form-control" />
                            <ValidationMessage For="@(() => Person.Phone)" />
                        </div>
                    </div>
                    <hr />
                    <div>
                        <button type="submit" @onclick="QuickSave" class="btn btn-outline-success mr-1">Update</button>
                    </div>
                </EditForm>
            </div>
        </div>

    </div>

    }
    else
    {
    <p>Please make sure that you complete at least one step on "my cv" before you come to this page...</p>
    }
</div>
}


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">

</BlazoredToasts>

