@layout AuthLayout
@inherits PasswordChangeBase
@page "/passwordChange"
@inject IJSRuntime JSRuntime;
@using Blazored.Toast.Configuration


<EditForm class="login100-form validate-form" EditContext="@editContext" OnValidSubmit="@HandlePasswordChange">
    <span class="login100-form-title p-b-34">
        Change Password
    </span>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="authentication-controls">

        <InputText class="form-control" required type="password" @bind-Value="userLoginDetails.OldPassword" name="pass" placeholder="Password" />
        <span class="focus-input100"></span>
        <ValidationMessage For="@(() => userLoginDetails.OldPassword)" />
    </div>

    <div class="authentication-controls">

        <InputText class="form-control" required type="password" @bind-Value="userLoginDetails.Password" name="pass" placeholder="New Password" />
        <span class="focus-input100"></span>
        <ValidationMessage For="@(() => userLoginDetails.Password)" />
    </div>

    <div class="authentication-controls">

        <InputText class="form-control" required type="password" @bind-Value="userLoginDetails.PasswordConfirm" name="pass" placeholder="Confirm Password" />
        <span class="focus-input100"></span>
        <ValidationMessage For="@(() => userLoginDetails.PasswordConfirm)" />
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            Change Password
        </button>
    </div>

</EditForm>


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">

</BlazoredToasts>
