@attribute [Authorize]
@page "/skills"
@inherits SkillsFormBase

@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject IJSRuntime JSRuntime;
@using Blazored.Toast.Configuration
<style>
    .resume-section-content {
        color: #58677c;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .mb-2,
    .my-2 {
        margin-bottom: 0.5rem !important;
    }

    .resume-degree {
        color: #229383;
    }

    .resume-degree-org {
        font-size: 0.875rem;
    }

    .resume-degree-time {
        color: #aab4c3;
        font-size: 0.875rem;
    }

    i {
        margin-right: 15px;
    }
</style>

<div class="card m-3">
    <div class="card-header" style="background-color:white">
        <div class="mdl-card__supporting-text">

            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">Personal Details</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Address</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Education</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>4</span></div>
                    <div class="mdl-stepper-title">Employment History</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>6</span></div>
                    <div class="mdl-stepper-title">Expertise</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>6</span></div>
                    <div class="mdl-stepper-title">Competencies</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>7</span></div>
                    <div class="mdl-stepper-title">Professinal Membership</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>8</span></div>
                    <div class="mdl-stepper-title">Skills</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>9</span></div>
                    <div class="mdl-stepper-title">Extra-Activities</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">


        <label>
            What Skills do you have? *
        </label>

        <br />
        <br />

        <div>
            <div class="card card-body">
                <EditForm EditContext="@editContext">
                    <DataAnnotationsValidator />
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Name</label>
                            <InputText @bind-Value="skill.Name" class="form-control" />
                            <ValidationMessage For="@(() => skill.Name)" />
                        </div>
                        <div class="form-group col-6">
                            <label>Level</label>
                            <InputSelect @bind-Value="SkillLevel" class="form-control">
                                <option value="0">0%</option>
                                <option value=10>10%</option>
                                <option value=20>20%</option>
                                <option value=30>30%</option>
                                <option value=40>40%</option>
                                <option value=50>50%</option>
                                <option value=60>60%</option>
                                <option value=70>70%</option>
                                <option value=80>80%</option>
                                <option value=90>90%</option>
                                <option value=100>100%</option>
                            </InputSelect>
                            <ValidationMessage For="@(() => skill.Level)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button data-toggle="collapse" href="#collapseExample" @onclick="Cancel" class="btn btn-outline-success">Cancel</button>
                        <button @onclick="HandleValidSubmit" class="btn btn-outline-success mr-1">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>

        @if (skills.Count > 0)
        {
            <br />
            <br />

            @foreach (var skill in skills)
            {
                <div class="card shadow mb-4">
                    <div class="card-body">
                        @if (@skill.Level < 39)
                        {
                            <h4 class="small font-weight-bold">@skill.Name <span class="float-right">@skill.Level%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: @skill.Level%" aria-valuenow="@skill.Level" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div>
                                <a @onclick="@(()=>GetSkill(skill.Id))" role="button"><i class="fas fa-edit float-right"></i></a>
                                <a @onclick="@(()=>DeleteSkill(skill.Id))" role="button"><i class="fas fa-trash float-right"></i></a>
                            </div>
                        }
                        else if (@skill.Level > 39 && @skill.Level < 69)
                        {
                            <h4 class="small font-weight-bold">@skill.Name <span class="float-right">@skill.Level%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: @skill.Level%" aria-valuenow="@skill.Level" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <a @onclick="@(()=>GetSkill(skill.Id))" role="button"><i class="fas fa-edit float-right"></i></a>
                            <a @onclick="@(()=>DeleteSkill(skill.Id))" role="button"><i class="fas fa-trash float-right"></i></a>
                        }
                        else if (@skill.Level > 69 && @skill.Level < 89)
                        {
                            <h4 class="small font-weight-bold">@skill.Name <span class="float-right">@skill.Level%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-info" role="progressbar" style="width: @skill.Level%" aria-valuenow="@skill.Level" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <a @onclick="@(()=>GetSkill(skill.Id))" role="button"><i class="fas fa-edit float-right"></i></a>
                            <a @onclick="@(()=>DeleteSkill(skill.Id))" role="button"><i class="fas fa-trash float-right"></i></a>
                        }
                        else if (@skill.Level > 89)
                        {
                            <h4 class="small font-weight-bold">@skill.Name <span class="float-right">@skill.Level%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @skill.Level%" aria-valuenow="@skill.Level" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <a @onclick="@(()=>GetSkill(skill.Id))" role="button"><i class="fas fa-edit float-right"></i></a>
                            <a @onclick="@(()=>DeleteSkill(skill.Id))" role="button"><i class="fas fa-trash float-right"></i></a>
                        }
                    </div>
                </div>

            }
        }
    </div>
    <div class="card-footer" style="background-color:white">
        <div>
            <button @onclick="@Back" class="btn btn-primary mr-1">Back</button>
            <button @onclick="@Next" class="btn btn-primary mr-1">Next</button>
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">

</BlazoredToasts>



