@attribute [Authorize]
@page "/address"
@inherits AddressFormBase
@inject IJSRuntime JSRuntime;

    <div class="card m-3">
        <div class="card-header" style="background-color:white">
            <div class="mdl-card__supporting-text">

                <div class="mdl-stepper-horizontal-alternative">
                    <div class="mdl-stepper-step step-done active-step">
                        <div class="mdl-stepper-circle"><span>1</span></div>
                        <div class="mdl-stepper-title">Personal Details</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step active-step">
                        <div class="mdl-stepper-circle"><span>2</span></div>
                        <div class="mdl-stepper-title">Address</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step">
                        <div class="mdl-stepper-circle"><span>3</span></div>
                        <div class="mdl-stepper-title">Education</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step">
                        <div class="mdl-stepper-circle"><span>4</span></div>
                        <div class="mdl-stepper-title">Employment History</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step">
                        <div class="mdl-stepper-circle"><span>5</span></div>
                        <div class="mdl-stepper-title">Expertise</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step">
                        <div class="mdl-stepper-circle"><span>6</span></div>
                        <div class="mdl-stepper-title">Competencies</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step">
                        <div class="mdl-stepper-circle"><span>7</span></div>
                        <div class="mdl-stepper-title">Professinal Membership</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step">
                        <div class="mdl-stepper-circle"><span>8</span></div>
                        <div class="mdl-stepper-title">Skills</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-6">
                    <div id="locationField">
                        <input id="autocomplete11"
                               placeholder="Enter your address"
                               onFocus="geolocate()"
                               type="text" />
                    </div>
                </div>
            </div>


            <EditForm EditContext="@editContext" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />


                <hr />

                <div class="form-row">
                    <div class="form-group col-3">
                        <label>Street Number</label>
                        <InputText id="street_number" @bind-Value="address.StreetNumber" class="form-control" />
                        <ValidationMessage For="@(() => address.StreetNumber)" />
                    </div>
                    <div class="form-group col-9">
                        <label>Street address</label>
                        <InputText id="route" @bind-Value="address.StreetName" class="form-control" />
                        <ValidationMessage For="@(() => address.StreetName)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label>City</label>
                        <InputText id="locality" @bind-Value="address.City" class="form-control" />
                        <ValidationMessage For="@(() => address.City)" />
                    </div>
                    <div class="form-group col-6">
                        <label>State</label>
                        <InputText id="administrative_area_level_1" @bind-Value="address.State" class="form-control" />
                        <ValidationMessage For="@(() => address.State)" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-2">
                        <label>Zip code</label>
                        <InputText id="postal_code" @bind-Value="address.ZipCode" class="form-control" />
                        <ValidationMessage For="@(() => address.ZipCode)" />
                    </div>
                    <div class="form-group col-10">
                        <label>Country</label>
                        <InputText id="country" @bind-Value="address.Country" class="form-control" />
                        <ValidationMessage For="@(() => address.Country)" />
                    </div>
                </div>

            </EditForm>
        </div>
        <div class="card-footer" style="background-color:white">
            <div>
                <button @onclick="@Back" class="btn btn-primary mr-1">Back</button>
                <button @onclick="@HandleValidSubmit" type="submit" class="btn btn-primary mr-1">Next</button>
            </div>
        </div>
    </div>

