@attribute [Authorize]
@page  "/personDetails"
@inherits DetailsFormBase

@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject IJSRuntime JSRuntime;
@using Blazored.Toast.Configuration

<div class="card m-3 table-responsive">
    <div class="card-header table-responsive" style="background-color:white">
        <div class="mdl-card__supporting-text table-responsive">

            <div class="mdl-stepper-horizontal-alternative table-responsive">
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">Personal Details</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Address</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Education</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>4</span></div>
                    <div class="mdl-stepper-title">Employment History</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>5</span></div>
                    <div class="mdl-stepper-title">Expertise</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>6</span></div>
                    <div class="mdl-stepper-title">Competencies</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>7</span></div>
                    <div class="mdl-stepper-title">Professinal Membership</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>8</span></div>
                    <div class="mdl-stepper-title">Skills</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="card-body">
        <EditForm EditContext="@editContext">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col">
                    <label>Title</label>
                    <InputSelect @bind-Value="person.Title" class="form-control">
                        <option value=""></option>
                        <option value="Adv">Adv</option>
                        <option value="Dr">Dr</option>
                        <option value="Miss">Miss</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Prof">Prof</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => person.Title)" />
                </div>
                <div class="form-group col">
                    <label>First Name</label>
                    <InputText @bind-Value="person.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => person.FirstName)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Middle Name</label>
                    <InputText @bind-Value="person.MiddleName" class="form-control" />
                    <ValidationMessage For="@(() => person.MiddleName)" />
                </div>
                <div class="form-group col">
                    <label>Last Name</label>
                    <InputText @bind-Value="person.LastName" class="form-control" />
                    <ValidationMessage For="@(() => person.LastName)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>ID Number</label>
                    <InputNumber @bind-Value="person.IdNumber" class="form-control" />
                    <ValidationMessage For="@(() => person.IdNumber)" />
                </div>
                <div class="form-group col">
                    <label>Date of Birth</label>
                    <InputDate @bind-Value="person.DateOfBirth" class="form-control" />
                    <ValidationMessage For="@(() => person.DateOfBirth)" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Gender</label>
                    <InputSelect @bind-Value="person.Gender" class="form-control">
                        <option value=""></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => person.Gender)" />
                </div>
                <div class="form-group col">
                    <label>Nationality</label>
                    <InputSelect @bind-Value="person.Nationality" class="form-control">
                        <option value=""></option>
                        <option value="Angola">Angola</option>
                        <option value="Asian Countries">Asian Countries</option>
                        <option value="Australia and New Zealand">Australia and New Zealand</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Central and South American Countries">Central and South American Countries</option>
                        <option value="European Countries">European Countries</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Namibia">Namibia</option>
                        <option value="North American Countries">North American Countries</option>
                        <option value="Rest of Africa">Rest of Africa</option>
                        <option value="SADC except SA">SADC except SA</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Tanzania">Tanzania</option>
                        <option value="Zaire">Zaire</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => person.Nationality)" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Email</label>
                    <InputText @bind-Value="person.Email" class="form-control" />
                    <ValidationMessage For="@(() => person.Email)" />
                </div>
                <div class="form-group col">
                    <label>Contact Number</label>
                    <InputText @bind-Value="person.Phone" class="form-control" />
                    <ValidationMessage For="@(() => person.Phone)" />
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col">
                    <label>Profile</label>
                    <InputTextArea @bind-Value="person.Profile" class=" form-control" style="height:250px">
                        <ValidationMessage For="@(() => person.Profile)" />
                    </InputTextArea>
                </div>
            </div>
            <div>
                <button type="submit" @onclick="QuickSave" class="btn btn-outline-success mr-1">Quick Save</button>
            </div>
        </EditForm>
    </div>
    <div class="card-footer " style="background-color:white">
        <div>
            <button type="submit" @onclick="HandleValidSubmit" class="btn btn-primary mr-1 ">Next</button>
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">

</BlazoredToasts>


