@page "/address"
@inherits AddressFormBase

@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject IJSRuntime JSRuntime;

<style>
    .validation-message {
        display: none;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }

    .invalid ~ .validation-message {
        display: block;
    }

    .form-control.invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

        .form-control.invalid:focus {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }

    textarea.form-control.invalid {
        padding-right: calc(1.5em + 0.75rem);
        background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
    }

    .form-check-input.invalid ~ .form-check-label {
        color: #dc3545;
    }

    .form-check-input.invalid ~ .validation-message {
        display: block;
    }


    /* Simple setup for this demo */

    .mdl-card {
        width: 550px;
        min-height: 0;
        margin: 10px auto;
    }

    .mdl-card__supporting-text {
        width: 100%;
        padding: 0;
    }

    .mdl-stepper-horizontal-alternative .mdl-stepper-step {
        width: 10%;
        /* 100 / no_of_steps */
    }


    /* Begin actual mdl-stepper css styles */

    .mdl-stepper-horizontal-alternative {
        display: table;
        width: 100%;
        margin: 0 auto;
    }

        .mdl-stepper-horizontal-alternative .mdl-stepper-step {
            display: table-cell;
            position: relative;
            padding: 24px;
        }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
                background-color: rgba(0, 0, 0, .06);
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
                border-radius: 15% / 75%;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }


            .mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
            .mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
                display: none;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
                width: 24px;
                height: 24px;
                margin: 0 auto;
                background-color: #9E9E9E;
                border-radius: 50%;
                text-align: center;
                line-height: 2em;
                font-size: 12px;
                color: white;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle {
                background-color: rgb(33, 150, 243);
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle:before {
                content: "\2714";
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle *,
            .mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle * {
                display: none;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle {
                -moz-transform: scaleX(-1);
                /* Gecko */
                -o-transform: scaleX(-1);
                /* Opera */
                -webkit-transform: scaleX(-1);
                /* Webkit */
                transform: scaleX(-1);
                /* Standard */
            }

                .mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle:before {
                    content: "\270E";
                }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
                margin-top: 16px;
                font-size: 14px;
                font-weight: normal;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
                text-align: center;
                color: rgba(0, 0, 0, .26);
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-title {
                font-weight: 500;
                color: rgba(0, 0, 0, .87);
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
            .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
                font-weight: 300;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
                font-size: 12px;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-optional {
                color: rgba(0, 0, 0, .54);
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
                position: absolute;
                top: 36px;
                height: 1px;
                border-top: 1px solid #BDBDBD;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
                right: 0;
                left: 50%;
                margin-left: 20px;
            }

            .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
                left: 0;
                right: 50%;
                margin-right: 20px;
            }
</style>
<div class="card m-3">
    <div class="card-header" style="background-color:white">
        <div class="mdl-card__supporting-text">

            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">Personal Details</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Address</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Education</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>4</span></div>
                    <div class="mdl-stepper-title">Employment History</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>5</span></div>
                    <div class="mdl-stepper-title">Expertise</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>6</span></div>
                    <div class="mdl-stepper-title">Competencies</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <EditForm EditContext="@editContext" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col">
                    <label>Physical Code</label>
                    <InputText @bind-Value="address.PhysicalCode" class="form-control" />
                    <ValidationMessage For="@(() => address.PhysicalCode)" />
                </div>
                <div class="form-group col">
                    <label>Postal Code</label>
                    <InputText @bind-Value="address.PostalCode" class="form-control" />
                    <ValidationMessage For="@(() => address.PostalCode)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Physical Address Line 1</label>
                    <InputText @bind-Value="address.PhysicalAddressLine1" class="form-control" />
                    <ValidationMessage For="@(() => address.PhysicalAddressLine1)" />
                </div>
                <div class="form-group col">
                    <label>Postal Address Line 1</label>
                    <InputText @bind-Value="address.PostalAddressLine1" class="form-control" />
                    <ValidationMessage For="@(() => address.PostalAddressLine1)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Physical Address Line 2</label>
                    <InputText @bind-Value="address.PhysicalAddressLine2" class="form-control" />
                    <ValidationMessage For="@(() => address.PhysicalAddressLine2)" />
                </div>
                <div class="form-group col">
                    <label>Postal Address Line 2</label>
                    <InputText @bind-Value="address.PostalAddressLine2" class="form-control" />
                    <ValidationMessage For="@(() => address.PostalAddressLine2)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Physical Address Line 3</label>
                    <InputText @bind-Value="address.PhysicalAddressLine3" class="form-control" />
                    <ValidationMessage For="@(() => address.PhysicalAddressLine3)" />
                </div>
                <div class="form-group col">
                    <label>Postal Address Line 3</label>
                    <InputText @bind-Value="address.PostalAddressLine3" class="form-control" />
                    <ValidationMessage For="@(() => address.PostalAddressLine3)" />
                </div>
            </div>
        </EditForm>
    </div>
    <div class="card-footer" style="background-color:white">
        <div>
            <button @onclick="@Back" class="btn btn-primary mr-1">Back</button>
            <button type="submit" class="btn btn-primary mr-1">Next</button>
        </div>
    </div>
</div>


