@attribute [Authorize]
@page "/expertise"
@inherits ExpertiseFormBase

@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject IJSRuntime JSRuntime;
@using Blazored.Toast.Configuration

<div class="card m-3">
    <div class="card-header" style="background-color:white">
        <div class="mdl-card__supporting-text">

            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">Personal Details</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Address</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Education</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done active-step">
                    <div class="mdl-stepper-circle"><span>4</span></div>
                    <div class="mdl-stepper-title">Employment History</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>5</span></div>
                    <div class="mdl-stepper-title">Expertise</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>6</span></div>
                    <div class="mdl-stepper-title">Competencies</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>7</span></div>
                    <div class="mdl-stepper-title">Professinal Membership</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>8</span></div>
                    <div class="mdl-stepper-title">Skills</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col">
                What are your expertise?
            </div>
            <div class="col">
                @*<p style="float:right"><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> add</a></p>*@
            </div>
        </div>

        <div>
            <div class="card card-body">
                <EditForm EditContext="@editContext">
                    <DataAnnotationsValidator />
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Expertise</label>
                            <InputSelect @bind-Value="this.expertiseID" class="form-control">
                                <option value="0" selected>Selet Expertise...</option>
                                @if (Expertises != null)
                                {

                                    @foreach (var Expertise in Expertises)
                                    {

                                        <option value="@Expertise.Id">@Expertise.Name</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => userExpertise.ExpertiseId)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button data-toggle="collapse" href="#collapseExample" @onclick="Cancel" class="btn btn-outline-success">Cancel</button>
                        <button @onclick="HandleValidSubmit" class="btn btn-outline-success mr-1">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
    @if (userExpertises.Count > 0)
    {
        <div class="card card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userExpertise in userExpertises)
                    {
                        <tr>
                            <td>@userExpertise.Expertise.Name</td>
                            <td><a @onclick="@(()=>GetExpertise(userExpertise.ExpertiseId))" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-edit"></i></a></td>
                            <td><a @onclick="@(()=>DeleteExpertise(userExpertise.ExpertiseId))" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    <div class="card-footer" style="background-color:white">
        <div>
            <button @onclick="@Back" class="btn btn-primary mr-1">Back</button>
            <button @onclick="@Next" class="btn btn-primary mr-1">Next</button>
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">

</BlazoredToasts>


